html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
}

body {
    width: 420px;
    overflow-x: hidden;
    height: 100%;

    background-color: #191919;
    border-radius: 3px;
    border: 1px solid #e7e7e7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

html, body, div, span,
h1, h2, h3, fieldset, form {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1.02em;
    vertical-align: baseline;
    color: #ebebeb;
}

/* The Button */
.form .signup-btn {
    color: black;
    background-color: #81b71a;
    font-family: Calibri, sans-serif;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0 inset;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-align: center;
    vertical-align: baseline;
    padding: 20px;
}

.form .signup-btn:hover {
    background-color: #a2c62a;
}

/* Things that are hidden on page load */
.error-box, #loading_message, #playlists {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

h3 {
    font: 12px/1.5 Verdana, sans-serif;
    margin-top: 5px;
}